// colors

$color-white-default: #fff;
$color-dark-tangerine: #ff9514;
$color-black: #111111;
$color-night-rider: #333333;
$color-matterhorn: #575757;
$color-lavender: #ebebec;
$color-ghost-white: #f3f3f4;

// display breakpoints

$tablet-breakpoint-1: 1439px;
$tablet-breakpoint-2: 1119px;
$mobile-breakpoint: 767px;
